<aside class="main-sidebar">
  <section class="sidebar">

    <div class="user-panel">
      <div class="pull-left image">
        <img src="../../../assets/dist/img/anon_user.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{userFirstName}}</p>
        <a><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVIGATION MENU</li>

      <li>
        <a routerLink="/home/movies">
          <i class="fa fa-film"></i> <span>Movies</span>
        </a>
      </li>

      <li>
        <a routerLink="/home/actors">
          <i class="fa fa-user"></i> <span>Actors</span>
        </a>
      </li>

    </ul>
  </section>
</aside>
